/* Pagina total */
body {
    font-size: "Times New Roman", Times, serif;
    background: linear-gradient(to right, rgb(198, 219, 186), rgb(137, 238, 70));
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
}

/* Menú */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(58, 58, 58);
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

li a:hover:not(.active) {
    background-color: #000000;
}

.active {
    background-color: rgb(190, 223, 169);
    color: #000000;
    font-weight: bold;
}

/* Títulos */
h1 {
    background-color: #000000;
    padding: 10px;
    margin: 0;
    color: rgb(108, 204, 113);
}

/* Cuerpo de la página */
div.contenedor-formulario {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

label {
    margin-left: 12px;
}

input[type=text],
input[type=email],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=radio] {
    margin-left: 24px;
}

input[type=submit],
input[type=reset] {
    width: 100%;
    background-color: rgb(22, 99, 15);
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover,
input[type=reset]:hover {
    background-color: rgb(26, 80, 33);
}

/* Imagenes contenedor principal*/
img{
    margin-left: 10px;
    width: 40px;
}

/* Pie de página */
.footer {
    background-color: rgb(58, 58, 58);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    clear: both;
}